.select .ant-select-selector {
    padding: 0px 10px 0px 0px !important; 
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }